.image img{
 width:90vw;
 height:30vh;
  object-fit: fit;
   opacity:0.4;
 border-radius: 15px 15px 0 0;
}

.image{
    background-color:var(--Soft-violet-accent);
     border-radius:15px 15px 0 0 ;
     /* background-image: url('/image-header-mobile.jpg'); */
     background-size: 200px;
}