.main-container{
   /* width:90vw;
   height:90vh; */
   margin:7rem 3rem;
   background-color:var(--Dark-desaturated-blue-card-background);
   /* background-color: yellow; */
   color: var(--White-main-heading-stats);
   border-radius: 15px;
}

@media (min-width:1440px){
.main-container{
   display:flex;
   flex-direction: row-reverse;
   margin:4rem 3rem;
}

.main-conatiner > *{
   flex:1;
}


}

@media (min-width:375px){
   .main-container{
      width:90vw;
    
   }
}